$main-color: #b59f0f;
$secondary-color: #cc165f;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;
$light-gold: rgba(147, 120, 10, 0.329);

$light-purple-gradient: linear-gradient(45deg, rgba(235, 75, 237, 0.55), rgba(251, 8, 255, 0.55));
$light-gold-gradient: linear-gradient(45deg, rgba(127, 107, 0, 0.55), rgba(181, 137, 0.55));
$light-red-gradient: linear-gradient(45deg, rgba(93, 23, 22, 0.55), rgba(119, 5, 5, 0.55));
$dark-red-gradient: linear-gradient(45deg, rgba(32, 2, 2, 0.945), rgba(119, 5, 5, 0.55));
$purple-gradient: linear-gradient(45deg, rgba(212, 20, 241, 0.55), rgba(172, 10, 184, 0.55));
$red-gradient: linear-gradient(45deg, rgba(93, 23, 22, 0.55), rgba(81, 0, 0, 0.989));
$dark-gradient: linear-gradient(45deg, rgba(16, 1, 1, 0.3), rgba(13, 12, 1, 0.3));
$purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.55), rgba(153, 0, 255, 0.55));
$wood-gradient-solid: repeating-linear-gradient(45deg, #4d3319, #4d3319 10%, #7a523f 10%, #7a523f 20%);
$gold-gradient-solid: linear-gradient(45deg, rgb(127, 107, 0), rgb(181, 137, 0));
$burned: linear-gradient(120deg, #845538, #5e3c2d, #845538);
$light-purple-gradient-solid: radial-gradient(circle at top right, rgb(179, 0, 255) 0%, rgb(255, 0, 234) 100%);

